.wrap {
  position: fixed;
  bottom: 7rem;
  right: 0;
  /* width: 100%; */
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  z-index: 990;
}

.btn--mobile {
  width: 135px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #fff;
  background: #2f3fdb;
  box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.04),
  0px 20px 24px -4px rgba(16, 24, 40, 0.1);
}

.btn--mobile .btn--mobile-text {
  margin: 0;
  display: flex;
  font-family: Univers LT Std;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: white;
}

.btn--mobile-image {
  background: url("../images/chatbot-button-image.svg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 36px;
  width: 36px;
}

.btn--chat {
  background-color: #4856df;
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.15);
  display: none !important;
  transition: all 300ms ease;
  height: 62px;
  width: 62px;
  padding: 5px !important;
  border-radius: 13px !important;
  outline: none;
}

.btn--chat:hover {
  background: #4856df;
}

.chat-bot-button-box {
  background: url("../images/chatbot-button-image.svg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

.btn--chat:focus {
  outline: none !important;
}

.btn--chat .chat-bot-button-box-close {
  background: url("../images/chat-box-close-icon.svg") no-repeat;
  margin: 12px;
}

/* CHAT BOX */
.chatbox {
  height: 85vh;
  width: 100%;
  opacity: 0;
  order: -1;
  transition: all 300ms ease;
  transform-origin: 100% 100%;
  transform: scale(0);
  visibility: hidden;
  border-radius: 16px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: none;
}

/* Chat-box header section */
.chat-box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 16px;
  height: 50px;
  border-radius: 0;
  background: url("../images/chatbot-header.png") no-repeat;
  background-size: cover;
  background-position: center;
  background: #4856df;
}

.chat-box-header .chat-box-title {
  color: white;
  font-family: Laila;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  display: flex;
  align-items: center;
  margin-top: 4px;
  gap: 8px;
}

.chat-box-header .restart-chatbot-button {
  color: white;
  font-family: Univers LT Std;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 4px;
  gap: 8px;
}

.chat-box-header .restart-chatbot-button::before {
  content: url("../images/baseIcons.svg");
  display: flex;
  align-items: center;
  margin-top: 4px;
}

/* CHAT BOX - body */
.chat-box-body {
  position: relative;
  height: 300px;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
}

.chat-box-body:after {
  content: "";
  background: blue;
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  position: absolute;
  z-index: -1;
}

#chat-input {
  border: 2px solid black;
  background: #f4f7f9;
  width: 77%;
  position: relative;
  height: 47px;
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-left: 15px;
  border: none;
  resize: none;
  outline: none;
  border: 1px solid #ccc;
  color: #888;
  border-top: none;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: hidden;
}

.chat-input > form {
  margin-bottom: 0;
}

#chat-input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ccc;
}
#chat-input::-moz-placeholder {
  /* Firefox 19+ */
  color: #ccc;
}
#chat-input:-ms-input-placeholder {
  /* IE 10+ */
  color: #ccc;
}
#chat-input:-moz-placeholder {
  /* Firefox 18- */
  color: #ccc;
}

.chat-submit {
  position: absolute;
  bottom: 5px;
  right: 10px;
  background: transparent;
  box-shadow: none;
  border: none;
  border-radius: 50%;
  color: #46a7b3;
  width: 35px;
  height: 35px;
}

/* Chat-box message logs section */
.chat-logs {
  padding: 15px;
  height: 65vh;
  overflow-y: scroll;
  background: #fff;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* Hide scrollbar for IE, Edge and Firefox */
.chat-logs::-webkit-scrollbar {
  display: none;
}
.chat-logs {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.chat-logs::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}
.chat-logs::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}
.chat-logs::-webkit-scrollbar-thumb {
  background-color: #5a5eb9;
}

/* Chat box bot's message */
.chat-logs .not-me {
  padding: 12px;
  background: #feebf1;
  border-radius: 0px 20px 20px 20px;
  font-family: Univers LT Std;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 16px;
  margin-top: 40px;
  color: #363e44;
}

.chat-logs .not-me audio {
  margin-top: 12px;
}

.chat-logs .not-me-rtl {
  border-radius: 20px 0 20px 20px;
}

.chat-logs .not-me:first-child {
  font-family: Laila;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  color: #000;
  background: #fff;
  margin-top: 6px;
  padding: 0;
}

.chat-logs img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* Chat logs divider section */
.divider .divider-content {
  text-align: end;
  text-align: right;
  font-family: Univers LT Std;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #5a6872;
  margin-bottom: 5px;
}

/* Chat box user's message */
.me {
  display: flex;
  justify-content: flex-end;
  /* margin-bottom: 8px; */
}

.me div .options-item {
  padding: 8px 24px;
  font-family: Univers LT Std;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #4856df;
  border-radius: 8px;
  background: #e5e7fa;
  cursor: pointer;
  margin-bottom: 5px;
}

.me div .clicked {
  padding: 16px 24px;
  border-radius: 16px 0px 16px 16px;
  color: #ffffff;
  background: #4856df;
  cursor: default;
  margin-bottom: 0;
}

.me div .clicked-rtl {
  border-radius: 0px 16px 16px 16px;
}

.me div .options-item-restart-chatbot,
.options-item-exit-chatbot {
  padding: 8px 24px;
  box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.06),
  0px 4px 8px -2px rgba(16, 24, 40, 0.1);
  border-radius: 8px;
  background: #f9494c;
  font-family: Univers LT Std;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 8px;
  cursor: pointer;
}

.chatbox__input {
  border-radius: 0.5em;
  border: 0;
  color: #555;
  font-size: 0.9rem;
  padding: 2em 1em;
  position: relative;
  resize: none;
}

.chatbox__input:required {
  box-shadow: none;
}

.chatbox__submit {
  background: none;
  border: 0;
  bottom: 0.75em;
  cursor: pointer;
  color: #3e54a4;
  font-size: 0.85rem;
  position: absolute;
  right: 0.5em;
}

.chatbox--is-visible {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
  display: block;
}

/* CHAT BOX - footer */
.chatbox-footer-mobile {
  display: none;
  justify-content: center;
  padding: 20px;
  gap: 15px;
  background: #4856df;
}

.chatbox-footer-mobile .button-defult-exit {
  padding: 15px 20px;
  font-family: Univers LT Std;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  border: none;
  border-radius: 8px;
  width: 160px;
}

.chatbox-footer-mobile .exit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 15px 28px;
  background: #cc3340;
  font-family: Univers LT Std;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: white;
  border: none;
  border-radius: 8px;
  width: 160px;
}

.chatbox-footer-mobile .close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 15px 20px;
  margin: 0;
  width: 160px;
  background: #ffffff;
  font-family: Univers LT Std;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  color: #4856df;
  border: none;
  border-radius: 8px;
}

.chatbox-footer-mobile .exit-btn p {
  margin: 0 !important;
}

.chatbox-footer-mobile .close-btn p {
  margin: 0 !important;
}

.exit-chat-icon {
  content: url("../images/exit.svg");
  width: 20px;
  width: 20px;
}

.minimise-chat-icon {
  content: url("../images/baseIcons-mobile.svg");
  width: 20px;
  height: 20px;
}

.chatbox-intro {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}

.chatbox-intro--not-visible {
  display: none;
}

.chatbox-intro .chatbox-intro-box {
  display: none;
  align-items: center;
  width: 255px;
  height: 62px;
  padding: 16px;
  border-radius: 10px;
  background: #4856df;
  cursor: pointer;
}

.chatbox-intro .chatbox-intro-box .chatbox-intro-box-text {
  margin: 0px;
  font-family: Univers LT Std;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: white;
}

.chatbox-intro .chatbox-intro-box .chatbox-intro-box-image {
  content: url("../images/speaker.svg");
  width: 24px;
  width: 24px;
}

@media screen and (min-width: 768px) {
  .wrap {
    right: 2em;
    bottom: 1rem;
    justify-content: center;
  }

  .btn--chat {
    display: flex !important;
  }

  .btn--mobile {
    display: none !important;
  }

  .chatbox-intro {
    gap: 16px;
    padding: 5px;
  }

  .chatbox-intro .chatbox-intro-box {
    display: flex;
  }

  .chatbox {
    width: 400px;
    height: 75vh;
  }

  /* Chat-box header section */
  .chat-box-header {
    border-radius: 16px 16px 0px 0px;
  }
}

@media screen and (min-width: 1024px) {
  .chatbox-intro {
    padding: 10px;
  }

  .chatbox {
    width: 400px;
    height: auto;
  }
}
