.conversation-management-container {
  height: 200px;
  border: 1px solid #bbb;
  margin-bottom: 10px;
}

.flowchart-operator-connector-arrow {
  top: 4px;
}

.flowchart-operator-connector-small-arrow {
  top: 9px;
}

.conversation-management pre {
  display: none;
}

#create_operator {
  margin-bottom: 10px;
}

.conversation-management-event {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #3366ff;
}

#last_event_example_6 {
  display: block;
  overflow-y: auto;
  height: 100px;
}

#flowchart_data {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
  height: 140px;
}

h4 {
  margin-top: 40px;
}

#operator_properties,
#link_properties {
  display: none;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 4px solid;
  padding: 10px;
}

#chatbot_canvas {
  width: 8000px;
  height: 4000px;
  background: white;
}

#chart_container {
  width: 100%;
  height: 1000px;
  overflow: hidden;
  background: repeating-linear-gradient(
  45deg,
  #eee,
  #eee 10px,
  #e5e5e5 10px,
  #e5e5e5 20px
  );
  border: 1px solid black;
}

.draggable_operator {
  display: inline-block;
  padding: 2px 5px 2px 5px;
  border: 1px solid #ccc;
  cursor: grab;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

.draggable_operators {
  margin-top: 10px;
}

.draggable_operators_label {
  margin-bottom: 5px;
}

.draggable_operators_divs {
  margin-bottom: 20px;
}

.delete_selected_button {
  margin-bottom: 20px;
}

#loader {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.trimmed-body {
  border: 1px solid;
  padding: 0px 4px;
  margin-bottom: 10px;
  font-size: 10px;
}

.tootip-wrapper a {
  width: 100%;
}
