{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}

{% set classes = [
    'chat-popup',
    'wrap',
] %}
{% set desktop_intro_text_word_limit = content.settings.intro_text_desktop_word_limit ? content.settings.intro_text_desktop_word_limit : '75' %}
{% set mobile_intro_text_word_limit = content.settings.intro_text_mobile_word_limit ? content.settings.intro_text_mobile_word_limit : '30' %}

<div {{ attributes.addClass(classes) }}>
  <div class="chatbox-intro">
    <div class="chatbox-intro-box">
      <div class="chatbox-intro-box-text">{{ content.settings.intro_text_desktop|striptags|slice(0, desktop_intro_text_word_limit) ~ '...' }}</div>
      <div class="chatbox-intro-box-image" style="">
      </div>
    </div>
    {# Chatbot button - Desktop #}
    <button class="btn btn--chat js-chat btn--desktop">
      <div class="chat-bot-button-box"></div>
    </button>
    {# Chatbot button - Mobile #}
    <button class="btn--mobile">
      <p class="btn--mobile-text">{{ content.settings.intro_text_mobile|striptags|slice(0, mobile_intro_text_word_limit) ~ '...' }}</p>
      <div class="btn--mobile-image"></div>
    </button>
  </div>

  <div class="chatbox js-chatbox">
    <div class="chat-box" style="display: block;">
      <div class="chat-box-header">
          <div class="chat-box-title">
            <img src="{{ content.settings.window_icon }}" alt="chatbot icon">
            {{ content.settings.window_name }}
          </div>
          <div class="restart-chatbot-button">
            {{ 'Restart'|t }}
          </div>
        </div>
      <div class="chat-box-body">
        <div class="chat-box-overlay"></div>
        <div class="chat-logs">
        </div>
      </div>
      {# <div class="chat-input">
        <input type="text" id="chat-input" placeholder="message" DISABLED AUTOFOCUS>
        <button class="chat-submit" id="chat-submit" DISABLED>
          <i class="fa fa-paper-plane"></i>
        </button>
      </div> #}
    </div>
  </div>

  <div class="chatbox-footer-mobile">
      {{ drupal_block('exit_website_block') }}
    {# <button class="exit-btn">
      <p>Exit Laaha</p>
      <div class="exit-chat-icon"></div>
    </button> #}
    <button class="close-btn">
      <p>{{ 'Minimise chat'|t }}</p>
      <div class="minimise-chat-icon"></div>
    </button>
  </div>
</div>
