<style>
#chatbot_canvas {
  width: {{ var.width }}px !important;
  height: {{ var.height }}px !important;
}
</style>
<div id='loader' style='display: none;'>
  <img src='/{{ loader_path }}/images/loader.gif' width='32px' height='32px'>
</div>
<div class="note">{{ "Please avoid reloading while saving data, as it can result in data loss."|t }}</div>
<div class="chatbot-settings-wrapper">{{ link('Chatbot Settings'|t, 'internal:/' ~ path('config_pages.chatbot_settings', {'destination': path('open_chatbot.conversation_management_controll_renderflowchart')}), { 'class': ['use-ajax'], 'data-dialog-type': ['dialog'], 'data-dialog-options': ['{"dialogClass":"chatbot-settings"}']}) }}</div>
<div class="conversation-management">
  <div id="chart_container">
    <div class="conversation-management-container" id="chatbot_canvas"></div>
  </div>
  <div id="chat_controles">
    <button id="zoominbtn1" class="zoom-in">+</button>
    <button id="zoomoutbtn1" class="zoom-out">-</button>
    <button id="restbtn1" class="reset" style="margin-left: 254px;">Default Zoom</button>
  </div>

<div class="error-message"></div>

  <div class="custom-connector-creation">
   <form id="generator-form">
        <label for="title">{{ 'Title'|t }}</label>
        <input type="text" id="title" name="title" required><br><br>

        <label for="input">{{ 'Input (Integer)'|t }}</label>
        <input type="number" id="input" name="input" value="0" required min="0" max="1"><br><br>

        <label for="output">{{ 'How many option ? (in Integer)'|t }}</label>
        <input type="number" id="output" name="output" value="0" required min="0" max="10"><br><br>

        <input type="submit" value="Generate">
    </form>
    <div class="draggable_operator">
      <div id="generated_output" class="draggable_operators_divs"></div>
    </div>
  </div>

  <div class="draggable_operators">
    <div class="draggable_operators_label"> {{ "Operators (drag and drop them in the flowchart)"|t }} </div>
    <div class="draggable_operators_divs">
      <div class="draggable_operator" data-nb-inputs="1" data-nb-outputs="0">{{ "1 input"|t }}</div>
      <div class="draggable_operator" data-nb-inputs="0" data-nb-outputs="1">{{ "1 Option"|t }}</div>
      <div class="draggable_operator" data-nb-inputs="0" data-nb-outputs="2">{{ "2 Options"|t }}</div>
      {# <div class="draggable_operator" data-nb-inputs="2" data-nb-outputs="0">2 Input</div> #}
      <div class="draggable_operator" data-nb-inputs="1" data-nb-outputs="1">{{ "1 input &amp; 1 Option"|t }}</div>
      <div class="draggable_operator" data-nb-inputs="1" data-nb-outputs="2">{{ "1 input &amp; 2 Options"|t }}</div>
      {# <div class="draggable_operator" data-nb-inputs="2" data-nb-outputs="1">2 in &amp; 1 out</div> #}
      {# <div class="draggable_operator" data-nb-inputs="2" data-nb-outputs="2">2 in &amp; 2 out</div> #}
    </div>
  </div>
  <button class="delete_selected_button">{{ "Delete selected operator / link"|t }}</button>
  <button id='save_data'>{{ "Save"|t }}</button>
</div>